@{
    ViewBag.Title = "User Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Registration</h1>

@using (Html.BeginForm("Register", "User", FormMethod.Post))
{
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" pattern="[a-zA-Z-.]{4,50}" required>

    <br>
    <br>

    <label for="userId">User ID:</label>
    <input type="text" id="userId" name="userId" pattern="[a-zA-Z0-9_-]{4,12}" required>

    <br>
    <br>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" pattern="^(?=(?:[^A-Z]*[A-Z]){1})(?=(?:[^a-z]*[a-z]){2})(?=.*[0-9])(?=.*[^A-Za-z0-9]).{8,}$" required>
    

    <br>
    <br>

    <label for="id">ID:</label>
    <input type="text" id="id" name="id" pattern="\d{2}-\d{5}-\d{1}" required>




    <br>
    <br>



    <br>
    <br>

    <label for="dob">DOB:</label>
    <input type="date" id="dob" name="dob" required>
    

    <br>
    <br>

    <input type="submit" value="Submit">
}

