
@{
    ViewBag.Title = "PersonalInfo";
}
<!DOCTYPE html>
<html>
<head>
    <title>My Portfolio</title>
</head>
<body>
    <p>Name: Pial Hassan Chowdhury</p>
    <p>ID: 20-42972-1</p>
    <p>Email: thejaster36@@gmail.com</p>
    <p>Contact No: 123-456-7890</p>
    
</body>
</html>


