
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<table style="border: 1px solid black;">
    <thead>
        <tr>
            <th style="border: 1px solid black;">Course</th>
            <th style="border: 1px solid black;">Title</th>
            <th style="border: 1px solid black;">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="border: 1px solid black;">OOP1</td>
            <td style="border: 1px solid black;">Auto Mobile Inventory</td>
            <td style="border: 1px solid black;">Car Parts sell Buy</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">OOP2</td>
            <td style="border: 1px solid black;">Blood Bank Management System</td>
            <td style="border: 1px solid black;">Blood Donation, Donor info, Receiver info </td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Web Technology</td>
            <td style="border: 1px solid black;">Agro Farming</td>
            <td style="border: 1px solid black;">Farmers can sell their goods and buy farming instruments and pesticides</td>
        </tr>
    </tbody>
</table>


