
@{
    ViewBag.Title = "References";
}

<!DOCTYPE html>
<html>
<head>
    <title>References for Portfolio</title>
</head>
<body>
    <h1>References: </h1>

    <h2>Centennial College</h2>
    <p><strong>Julee Joseph, RPhT</strong></p>
    <p>Pharmacy Technician Instructor</p>
    <p>755 Morningside Avenue</p>
    <p>Toronto, ON M1C 5J9</p>
    <p>E-mail: <a href="mailto:JJoseph@centennialcollege.ca">JJoseph@centennialcollege.ca</a></p>
    <p>Tel: (416) 289-5000 ext: 8096</p>

    <h2>Toronto General Outpatient Pharmacy</h2>
    <p><strong>Elizabeth D'Addetta, RPhT</strong></p>
    <p>Senior Technician</p>
    <p>585 University Avenue, 1st Floor Norman Urquhart Wing</p>
    <p>Toronto, ON M5G 2N2</p>
    <p>E-mail: <a href="mailto:elizabeth.d'addetta@uhn.ca">elizabeth.d'addetta@uhn.ca</a></p>
    <p>Tel: (416) 340-4800 ext: 7915</p>

    <h2>Pizza Pizza Special Events</h2>
    <p><strong>Kanishka Weerasekera</strong></p>
    <p>Assistant Operations Manager</p>
    <p>500 Kipling Avenue</p>
    <p>Toronto, ON M8Z 5E5</p>
    <p>Tel: (416) 917-8646</p>
</body>
</html>


